<h1>My profile</h1>

<div>
<%= @user.email %><br>
<%= @user.account_type %>
<% if @user.account_type == "Owner" %>
  <p>you can register or edit restaurants info</p>
  <%= link_to 'Registrate my restaurant', new_restaurant_path %><br>
  <% @restaurants.each do |restaurant| %>
  <%= image_tag(restaurant.url, size: '100') %>
  <%= restaurant.name %>
  <%= link_to 'Edit', edit_restaurant_path(restaurant) %><br>
  <% end %>
<% end %>

</div>
