
<div class="block">

<h1>Make Reservation Right Now!!</h1>

<% if @reservation.errors.any? %>
  <ul>
    <% @reservation.errors.full_messages.each do |m| %>
      <li><%= m %></li>
    <% end %>
  </ul>
<% end %>



<%= form_for @reservation do |f| %>
  <ol>
    <%= f.hidden_field :restaurant_id, value: @restaurant.id %>
    <%= f.label :party_size %>
    <%= f.text_field :party_size %>

    <%= f.label :date %>
    <%= f.date_field :date%>

    <%= f.label :time %>
    <%= f.text_field :time %>
  </ol>

  <%= f.submit 'Reservation' %>

<% end %>
</div>
