<div class="restaurant">
  <%= image_tag restaurant.url%>
  <h3><%= restaurant.name %></h3>
  <h3><%= restaurant.address %></h3>
  <h3><%= restaurant.price_range %></h3>
  <h3><%= restaurant.neighbourhood %></h3>
  <h3><%= restaurant.summary %></h3>
  <h3><%= image_tag restaurant.menu %></h3>
</div>
