<!DOCTYPE html>
<html>
  <head>

    <title><s>Seat Yourself!</s></title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Lobster+Two:700" rel="stylesheet">

  </head>

  <body>

    <div class="navbar">

      <div class="left">
        <h1 class="nav_title">Seat Yourself!</h1>
      </div>

      <div class="right">

        <% if current_user %>

          <p class="navbar_text1">
            <%= link_to 'Home', root_path %> |
            <%= link_to 'Logout', sessions_path, method: :delete %>
          </p>

        <% else %>

          <p class="navbar_text1">
            <%= link_to 'Home', root_path %> |
            <%= link_to 'New User', new_users_path %> |
            <%= link_to 'Login', new_sessions_path %>
          </p>

        <% end %>
        <% if flash.any? %>
          <% flash.each do |key, value| %>
            <p class="<%= key %>">
              <%= value %>
            </p>
          <% end %>
        <% end %>
      </div>




    </div>

    <%= yield %>

  </body>
</html>
